# Python
backend/env/
backend/__pycache__/
backend/**/*.pyc
backend/db.sqlite3

# Django
backend/staticfiles/
backend/media/

# Node
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# Environment
.env
*.env

# OS
.DS_Store
Thumbs.db

.env
*.env
backend/.env
backend/env/
backend/db.sqlite3
frontend/node_modules/
__pycache__/
*.pyc